################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp4(zema parol obnova)/WinFormsApp4(zema parol obnova)/obj
